/* FeatureShowcase css */
.featureShowcaseBox {
    column-gap: 80px;
}

.featureShowcasePart1 {
    width: 50%;
}

.featureShowcasePart1 span {
    font-size: 18px;
    line-height: 32px;
    opacity: .9;
}

.featureShowcasePart1 h1 {
    font-size: 38px;
    line-height: 56px;
    margin: 16px 0;
}

.featureShowcasePart1 p {
    opacity: .9;
}

.featureShowcase-reverse {
    background: #f1f2fa;
}

.featureShowcase-reverse .featureShowcaseBox {
    flex-direction: row-reverse;
}

/* FeatureShowcase css */