.aboutBannerBox {
    column-gap: 140px;
}

.aboutBannerPart1 {
    width: 60%;
}

.aboutBannerPart1 span {
    font-size: 18px;
    line-height: 32px;
    opacity: .9;
}

.aboutBannerPart1 h1 {
    font-size: 54px;
    line-height: 74px;
    margin: 14px 0 18px;
}

.aboutBannerPart1 p {
    width: 90%;
    opacity: .9;
}