.usersBox {
    padding: 96px 0;
    column-gap: 90px;
}

.usersNum h1 {
    font-size: 42px;
    line-height: 56px;
}

.usersNum p {
    opacity: .9;
}

.userLogos {
    opacity: .8;
    column-gap: 66px;
}